SHELL=/bin/bash
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games
MAILTO=root
HOME=/home/dimert
# * * * * * root /usr/bin/env > /tmp/cron-env
07 * * * * root /home/dimert/repos/vacancy_analysis/vacancy_processor.py -t -c
