<!DOCTYPE html>
<html lang='ru'>
<head>
<meta charset='utf-8'>
<title>Vacancy statistics</title>
<link rel="stylesheet" href="/static/style.css"/>
<link href="/static/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
<script src='/static/js/jquery-1.11.3.min.js'></script>
<script src='/static/js/highcharts.js'></script>
<script src="/static/js/image_gallery.js"></script>
</head>

<body>
<div class='pagecenter'>
    <header><h1>Статистика по вакансиям hh.ru</h1></header>
    <main>
        <aside>
        <div class='right dates'>
            <h2>Данные</h2>
            {% for timestamp, human_date in dates %}
            <a class='date_link' href="/?timestamp={{timestamp}}"> {{human_date}} </a> <br>
            {% endfor %}
        </div>
        <div class='right tags'>
            <h2>Теги</h2>
            {% for tag in tags %}
            <a class='date_link' href="/tag/?tag={{tag|safe}}"> {{tag}} </a> <br>
            {% endfor %}
        </div>
        </aside>
        <article>
            <h1 id="date_s"></h1>
            <fig id="chart_container">
                <div id="vac_salary_container"></div>
            </fig>
            <fig id="chart_container">
                <div id="vac_number_container"></div>
            </fig>
            <div class='plot_info'>
                <div class="plot_info_item" id="cnt"></div>
                <div class="plot_info_item" id="date"></div>
                <div class="plot_info_item" id="date_s"></div>
            </div>
            <nav>
                <button class='later'>later</button>
                <button class='earlier'>earlier</button>
            </nav>
        </article>
    </main>
</div>

</body>
</html>
