<!DOCTYPE html>
<html lang='ru'>
<head>
<meta charset='utf-8'>
<title>Vacancy statistics</title>
<link rel="stylesheet" href="/static/style.css"/>
<link href="/static/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
<script src='/static/js/jquery-1.11.3.min.js'></script>
<script src='/static/js/highcharts.js'></script>
<script src="/static/js/tag_stat.js"></script>
</head>

<body>
<div class='pagecenter'>
    <header>
        <h1>Lang: {{tag_name}}
            <a class='date_link' href='/'> [на главную]</a>
        </h1>
    </header>
    <nav class='gallery_container center_align'>
        <button class='later'>later</button>
        <button class='earlier'>earlier</button>
    </nav>
    <div class='plot_info'>
        <div class="plot_info_item" id="cnt"></div>
        <div class="plot_info_item" id="date"></div>
        <div class="plot_info_item" id="date_s"></div>
    </div>
    <main>
        <aside>
        <div class='right dates'>
            Данные: </br>
            {% for timestamp, human_date in dates %}
            <a class='date_link' href="/tag/?tag={{tag_name|safe}}&timestamp={{timestamp}}"> {{human_date}} </a> <br>
            {% endfor %}
        </div>
        </aside>
        <article>
            <div class='plot_info'>
                <div class="plot_info_item" id="cnt"></div>
                <div class="plot_info_item" id="date"></div>
                <div class="plot_info_item" id="date_s"></div>
            </div>

            <div id="chart_container">
                <div id="vac_salary_histogram"></div>
                <div id="vac_salary_hist_container"></div>
            </div>
        </article>
    </main>
</div>
</body>
</html>
