.gallery_container {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.gallery_picture {
  margin-bottom: 15px;
}
.center_align {
  text-align: center;
  margin-bottom: 15px;
}
#chart_container {
  width:80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#vac_number_container,#vac_salary_container {
  height: 450px;
}
.plot_info {
}
.plot_info_item {
    float: left;
    padding: 10px;
}
