<!doctype html>
<head>
    <title>iGallery</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="/static/favicon.ico" rel="shortcut icon" type="image/x-icon">

    <script type=text/javascript src="/static/js/image_gallery.js"></script>
</head>
<body>
    <div class='gallery_container center_align'>
        <h1>Gallery</h1>
        <button class='later'> later </button>
        <button class='earlier'> earlier </button>
        <hr>
    </div>
    <dev class='gallery_container'>
    <img class='gallery_picture gallery_container' src='' alt=''>
    </dev>
</body>
